.box {
    @include absCenter
    height: 75rem;
    width: 100rem;
    border-radius: 30px;

    &__heading {
        width: 98%;
        padding-top: 3rem;
        width: 98%;
        margin-bottom: 1rem;
    }

    &__date {
        margin-bottom: 1rem;
    }

    &__current{

        & div {
            padding-bottom: 2rem;
        }
    }

    &__center {
        border-top: 2px solid #72bcd4;
        padding-top: 2rem;
        margin-bottom: 10rem;
        width: 60%;
        display: inline-block;
    
        &::after {
            content: "";
            clear: both;
            display: table;
        }

        &--weatherStatus {
            padding-top: 1rem;
        }

        &--icon {
            position: absolute;
            left: 36%;
            margin-left: -50px;
          }
          
        &--temp {
            position: absolute;
            display: inline-block;
            transition-duration: 0.4s;
            cursor: pointer;

            &::after {
                content: "";
                clear: both;
                display: table;
                padding-bottom: 5rem;
            }
        }
    }

    &__indicators {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 60%;
        padding-top: 3rem;
        padding-bottom: 0px!important;
        border-top: 2px solid #72bcd4;
        border-bottom: 2px solid #72bcd4;

        &--precip {
            position: absolute;
            margin-left: 2rem;
            display: inline-block;
        }

        &--wind {
            margin-left: 2rem;
            display: inline-block;
            position: absolute;
        }

        &--apparentTemp {
            display: inline-block;
        }
    }

}

.feels {
    display: inline-block;
  }

.futureIcons {
    padding: 2rem;
}

.windCons {
    padding-right: 1rem;
  }
  
.rainCons {
padding-right: 11rem;
}

.wrap {
float: left;
}

.parent::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 5rem; 
}



// .made-with-love{
    //     padding: 0;
    //     margin: 0;
    //   }
    