.box {
    @include absCenter
    height: 75rem;
    width: 100rem;
    border-radius: 30px;

    .indicators {
        display: inline-block;
        width: 60%;
        padding-right: 11rem;
        padding-top: 3rem;
        padding-bottom: 0px!important;
        border-top: 2px solid #72bcd4;
        border-bottom: 2px solid #72bcd4;
    }

    .futureIcons {
        padding: 2rem;
    }

    .center-icon {
        border-top: 2px solid #72bcd4;
        padding-top: 2rem;
        width: 60%;
        display: inline-block;

        &::after {
            content: "";
            clear: both;
            display: table;
        }    
    }

    &__current{
        padding-top: 5rem;

        &--precip {
            margin-left: 2rem;
            display: inline-block;
        }

        &--wind {
            margin-left: 2rem;
            display: inline-block;
            position: absolute;
            // padding-left: 1.2rem;
        }

        &--precip {
            position: absolute;
            // padding-left: 1.2rem;
        }

        &--apparentTemp {
            position: absolute;
            padding-left: 6rem;
        }
        
        &--date {
            margin-bottom: 1rem;
        }

        &--weatherStatus {
            padding-top: 1rem;
        }

        &--icon {
            position: absolute;
            left: 36%;
            margin-left: -50px;
          }
          
        &--temp {
            padding-left: 24rem;
            padding-top: 1rem;

            &::after {
                content: "";
                clear: both;
                display: table;
                padding-bottom: 5rem;
            }
        }
    }
  
    &__current div{
        padding-bottom: 2rem;
    }

    &__heading {
        width: 98%;
        padding-top: 3rem;
        width: 98%;
        margin-bottom: 1rem;
    }
}