body {
    font-family: 'Lora', serif;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .box {
    .forecast-data {
        text-align: center;
    }

    &__heading {
        font-weight: 400;
        font-size: 4rem;
    }

    &__center {
        &--temp {
            font-size: 8rem;
        }
    }

    &__current{
        text-align: center;
    }
}